*{
    width: 1440px;
    height: 900px;
    box-sizing: border-box;
}

.same-margin{
    margin-left: 163px;
}
header{
    width: 1440px;
    height: 665px;
}

.logo{
    margin-top: 63px;
}

.logo-svg{
    transform: scale(0.045);
    width: 200px;
    height: 200px;
}

.logo{
    mrt
}

.bg-img{
    background-image: url("../images/Header/header-bg.svg");
}
