*{
    width: 1440px;
    height: 900px;
}
header{
    width: 993px;
    height: 668px;
    display: flex;
}

.logo-svg{
    transform: scale(0.045);
    width: 200px;
    height: 200px;
}

.bg-img{
    background-image: url("../images/Header/header-bg.svg");
}
